@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}

<section class="hero">
    <div class="hero-content container">
        <h1>
            About Us
        </h1>
        
        <p class="subtitle">
            Our group will be ...
        </p>
    </div>
</section>
