@{
    ViewData["Title"] = "Home Page";
}

<!-- index.html -->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Year Project Landing Page</title>
    <link rel="stylesheet" href="site.css">
</head>
<body>

<section class="hero">
    <div class="hero-content container">
        <h1>Welcome to our <span class="highlight"><br/>Smart Project Allocation System!</span></h1>
        <p class="subtitle">Group FYP-25-S3-15P</p>
        <p class="subtitle">
            Members:<br>
            Kaung Wai Yan Hein (Project Leader)<br>
            Tan Tee Bing<br>
            Tan Hui Keng<br>
            Teo Yang Lin<br>
            Oh Shan Ge
        </p>


        <div class="hero-buttons">
            <a href="#features" class="btn btn-primary">Learn More</a>
            <a href="#contact" class="btn btn-outline">Contact Us</a>
        </div>
    </div>
</section>

</body>
</html>
